* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #010059;
    --secondaryColor: #00028C;
    --thirdColor: #ED1250;
    --white: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 0.25rem;
    --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
    --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4 {
    color: var(--primaryColor);
    text-transform: capitalize;
}

.card {
    width: 320px;
    margin-top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (min-width: 500px) {
    .card {
        width: 420px;
        justify-content: space-between;
    }
}